.input_rte{width:100%;height:250px;background:#FFF url('http://www.dreamincode.net/home/images/postbackground.gif');background-repeat:no-repeat;background-position:top center}.ips_editor.lite_edition
.input_rte{height:60px}.ips_editor
.input_rte.unloaded_editor{font-family:arial,verdana,tahoma,sans-serif;font-style:italic;font-size:11px;color:#b4b4b4;padding:5px
0px;text-indent:5px}.ips_editor{border:2px
solid #d5dde5;margin:8px;position:relative;line-height:100% !important}.ips_editor.with_sidebar .controls,
.ips_editor.with_sidebar .editor,
.ips_editor.with_sidebar
.resizer{margin-right:200px}.ips_editor
.controls{}.ips_editor.with_sidebar
.sidebar{position:absolute;top:0px;right:0px;width:194px;bottom:1px;margin:0;border-width:1px;border-style:solid;border-color:#f6f8fa #d5dde5 #d5dde5 #f6f8fa}.ips_editor.with_sidebar .sidebar
h4{background-color:#e4ebf2;height:25px;color:#1d3652;font-size:10px;font-weight:bold}.ips_editor.with_sidebar .sidebar h4
span{padding:6px
0 0 6px;display:block}.ips_editor.with_sidebar .sidebar
.emoticon_holder{position:absolute;top:25px;bottom:1px;width:193px;overflow:auto}.ips_editor
.toolbar{height:30px;background:#e4ebf2 url(http://cdn.dreamincode.net/forums/public/style_images/DIC/gradient_bg.png) repeat-x left 50%;border-width:1px;border-style:solid;border-color:#f6f8fa #d5dde5 #d5dde5 #f6f8fa}.ips_editor .resizer
.toolbar{background:transparent;border:0}.ips_editor .toolbar
li{float:left;padding:3px}.ips_editor .toolbar
li.sep{padding-right:4px;border-right:1px solid #d5dde5;margin-right:4px}.ips_editor .toolbar
li.left{float:left}.ips_editor .toolbar
li.right{float:right}.ips_editor .toolbar li
span{display:block;padding:3px}.ips_editor ul.ipbmenu_content,
.ips_editor ul.ipbmenu_content
li{display:block;float:none;background-color:#fff}.ips_editor .toolbar li
.rte_control.rte_menu{font-size:11px;height:14px;border:1px
solid #aeb9c5;margin-top:1px;padding:4px
15px 2px 7px;background-color:#fff;background-image:url(http://cdn.dreamincode.net/forums/public/style_images/DIC/rte_icons/rte_arrow.png);background-repeat:no-repeat;background-position:right center}.rte_title{background-color:#d5dde5;padding:4px;margin: -4px -4px 5px -4px;color:#1d3652;font-size:10px;font-weight:bold}.rte_fontsize{min-width:50px}.rte_font{min-width:85px}.rte_special{min-width:90px}.ipb_palette{padding:4px;background-color:#eef3f8;border-width:1px 2px 2px 1px;border-style:solid;border-color:#d5dde5;font-size:11px}.ipb_palette
label{display:block;font-weight:bold;clear:both;width:auto !important;float:none !important;text-align:left !important}.ipb_palette
input{clear:both;width:96%;margin-bottom:5px;font-size:11px;margin-right:6px}.ipb_palette input[type="submit"],.input_submit.emoticons{background-color:#d5dde5;border:1px
solid #d5dde5;margin:5px
auto 5px auto;text-align:center;padding:2px;color:#1d3652;font-size:11px;display:block;width:auto !important}.ipb_palette.extended{min-width:250px;max-width:320px}.ipb_palette
pre{padding:5px
7px 10px 7px}ul.fontsizes
li{padding:0.3em 0px !important}.ipb_palette
table.rte_colors{border-collapse:separate;background-color:#fff;border-spacing:1px}table.rte_colors
td{padding:6px;border:1px
solid #777;margin:1px;font-size:1px;cursor:pointer;height:18px}.rte_control{cursor:pointer;border:1px
solid #e4ebf2}.rte_hover{background-color:#d5dde5}.rte_selected{background-color:#d5dde5;border:1px
solid #aeb9c5}